# ----------
# Quality Control and Build Dependencies - Virtual Environment Only

# ----------
# Unit Tests

pytest

# ----------
# Formatters

black

# ----------
# Linters - Static Code Quality - these are the current modules I am interested in using

flake8
flake8-annotations-complexity
flake8-breakpoint
flake8-builtins
flake8-comprehensions
flake8-eradicate
flake8-expression-complexity
pep8-naming
# flake8-isort
# flake8-logging-format
# flake8-requirements
# flake8-return # <- nice idea but buggy


# ----------
# Code Modification

vulture  # search for deadcode
isort    # Sort imports

# ----------
# Build

# to make pyproject.toml work
# https://pypa-build.readthedocs.io/en/latest/index.html

build  # $ python -m build


# ----------
# Release to PyPI

# twine

# ------------
# App Dependencies

# These are dependencies for the repo so we can run the app in the environment.
# They should be installed when we install the app. They are strictly required
# here but offer another form of documentation.

# For Timezones on Windows. On linux, it will use the system binaries first
tzdata

# Add other packages here:
click
toml       # for all the configuration files
pyyaml     # for extracting the yaml block from the markdown files.
requests
appdirs
networkx
matplotlib

# Pandoc items
pandoc-fignos
pandoc-eqnos
pandoc-tablenos
pandoc-secnos
